{%extends 'muisc/Detail.html'%} 
{%block title%}add a new song {%endblock%}
{%block song_active%}active{%endblock%}

{%block content%}
    <div class="addSong  py-2 px-2 ml-4" id="AddANewSong" aria-labelledby="AddANewSong-tab">
        <h3>Add a New Song</h3>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="#" method="POST" enctype="multipart/form-data" class="addASong px-5 py-2">
            {% csrf_token%}
            {%include 'muisc/form_template.html'%}
            <div class="form-group">
                <div class=" col-md-2">
                    <button type="submit"  class="btn btn-success">submit</button>
                </div>
            </div>
        </form>
    </div>
{%endblock%} 